#container {
    height: auto;
    width: 200px;
    margin: auto;
    width: 30%;
    background-color: red;
    display: flex;
    flex-direction: column;
}

img {
    height: 300px;
    width: 100%;
}

#btns {
    
}

#btn-1, #btn-2, #btn-3 {
    display: inline-block;
    justify-content: center;
    align-items: center;
}




