#container {
    height: auto;
    width: 200px;
    margin: auto;
    width: 30%;
    background-color: red;
    display: flex;
    flex-direction: column;
}

img {
    height: 300px;
    width: 100%;
}

#btns {
    
}







