#container {
    height: 40rem;
    width: 40rem;
    margin: auto;
    width: 50%;
    background-color: red;
    display: flex;
}

img {
    height: auto;
    width: 100%;
    flex-grow: inherit;
}

